@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --borders: #d1d5db;
  --borders-secondary: #e5e7eb;
  --icons-primary: white;
  --text-input-primary: #f3f4f6;
  --text-input-secondary: #d1d5db;
  --text-primary: black;
}

[data-theme='dark'] {
  --borders: #94a3b8;
  --borders-secondary: #525252;
  /* --icons-primary: #f1f5f9 */
  --text-input-primary: #262932;
  --text-input-secondary: #2a2e37;
  --text-primary: #94a3b8;
}